@media screen and (max-width: 769px) {
    .center {
        padding-left: calc(50% - 367px);
        padding-right: calc(50% - 367px);
    }

    .header {
        padding: 0 4.17%;
    }

    .main {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
        &_title {
            font-size: 24px;
            &_part1 {
                font-size: 44px;
            }
        }
    }
    .registration {
        gap: 3%;
        &__right {
            font-size: 16px;
        }
    }

    .cart {
        flex-direction: column;
        gap: 64px;
        &_left {
            width: 100%;
            &_items {
                align-items: center;
            }
            &_btns {
                justify-content: center;
                gap: 6%;
            }
        }
        &_right {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 15px;
            padding-top: 0;
            &_checkout {
                width: 47%;
                margin-top: 39px;
                max-height: 214px;
            }
        }
        &_address {
            width: 47%;
        }
    }

    .carousel {
        padding: 30px 0;
        &-item.active {
            padding: 0;
        }
    }

    .collection {
        margin-top: 0;
        margin-bottom: 128px;
    }

    .filter_sort {
        justify-content: space-between;
        gap: 15px;
    }

    .filter-box {
        width: 70px;
    }

    .items_showcase {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        &-product {
            margin-bottom: 128px;
            &_item_6 {
                display: none;
            }
            &_item_4 {
                order: 1;
            }
        }
        &-catalog {
            &_item_3 {
                display: none;
            }
        }
    }

    .advantages {
        flex-direction: column;
        justify-content: space-around;
        gap: 48px;
    }

    .subscribe {
        @include flexColumnCenter();
    }
}
